# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

#Testing
coverage/
test-results/
playwright-report/
playwright/.cache/
.nyc_output/
utils/students.backup.json
utils/students.test.json

misc/
miscellaneous/

.agent/
